---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222222;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

code, kbd, pre,
samp {font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;}


td.gutter.gl {
  width: 34px;
}

code > table {
  margin: 0px;
}

td pre {
  margin: 0px;
}

code > table td {
  padding: 0px;
  border-top: 0px;
  margin: 0px;
}

.lineno-container > figure > pre {
  padding: 0px;
  border: 0px;
}

